<a href="https://colab.research.google.com/github/TACH00/Hola_Mundo/blob/main/Extraccion_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Convertir en Dataframe
df=pd.read_csv('file.csv')
df

In [ ]:
#Filtro por objeto
filtro1=df[df["Sexo"]=="Mujeres"]
filtro1

In [ ]:
#Filtro por filas
#filtro2=df.iloc[:,4:6] #filas consecutivas (rango)
filtro2=df.iloc[:,[1,4,6]] #filas no consecutivas
filtro2

In [ ]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[[10,20,50],2:5]
#filtro_mix=df.iloc[:,[10,20,50]]
filtro_mix

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df=pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df

In [ ]:
#Paso 2: Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

In [ ]:
#Filtro por comparaciÃ³n
filtro6=df[df["Periodo"]>=2006]
filtro6

In [67]:
#Filtro Y
filtro7=df[(df["Periodo"]==2015)&(df["Sexo"]=="Hombres")&(df["Entidad_Federativa"]=="Zacatecas")]
filtro7

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2704,2015,1,Zacatecas,Hombres,41175,363875,11.315699070000000000000
2770,2015,2,Zacatecas,Hombres,42015,396897,10.585869890000000000000
2836,2015,3,Zacatecas,Hombres,36502,402322,9.0728322090000000000000
2902,2015,4,Zacatecas,Hombres,37329,402571,9.2726500420000000000000